.w-full.shadow.stats
    .stat
        .stat-figure.text-secondary
            i.far.fa-address-card.text-3xl
        .stat-title.uppercase dellers
        .stat-value= dellers
    .stat
        .stat-figure.text-secondary
            i.far.fa-file-alt.text-3xl
        .stat-title.uppercase orders
        .stat-value= orders
    .stat
        .stat-figure.text-secondary
            i.fas.fa-hamburger.text-3xl
        .stat-title.uppercase foods
        .stat-value= foods
    .stat
        .stat-figure.text-secondary
            i.fas.fa-hand-holding-usd.text-3xl
        .stat-title.uppercase total earns
        .stat-value 1200k
