.bg-neutral.fixed.w-64.top-0.left-0.min-h-screen.pt-20.flex.flex-col
    a(href="/" class="uppercase text-white hover:bg-gray-500 duration-300 px-5 py-2 text-base") Dashboard 
    a(href="/dellers" class="uppercase text-white hover:bg-gray-500 duration-300 px-5 py-2 text-base") Dellers
    a(href="/orders" class="uppercase text-white hover:bg-gray-500 duration-300 px-5 py-2 text-base") Orders


